<html>
    <%- include("./layouts/head.ejs", {titulo: "Levels", link:"./styles/levels.css"}) %>
    <body>
        <div class="box-card">
            <div class="card">
                <h1> Level 1 </h1>
                <a href="/levels1"> Jugar </a>
            </div>
            <div class="card">
                <h1> Level 2 </h1>
                <a href=""> Jugar </a>
            </div>
            <div class="card">
                <h1> Level 3 </h1>
                <a href=""> Jugar </a>
            </div>
            <div class="card">
                <h1> Level 4 </h1>
                <a href=""> Jugar </a>
            </div>
            <div class="card">
                <h1> Level 5 </h1>
                <a href=""> Jugar </a>
            </div>
            <div class="card">
                <h1> Level 6 </h1>
                <a href=""> Jugar </a>
            </div>
            <div class="card">
                <h1> Level 7 </h1>
                <a href=""> Jugar </a>
            </div>
            <div class="card">
                <h1> Level 8 </h1>
                <a href=""> Jugar </a>
            </div>
        </div>
    </body>
</html>